numpy
Django==1.11
Pillow
h5py
nltk
channels
asgi-redis
pika
pyyaml
uwsgi
websocket-client
daphne
requests
matplotlib
scipy
scikit-image
easydict==1.6
opencv-python
jupyter
cffi
tensorboardX
torchvision

# pytorch v2.0
http://download.pytorch.org/whl/cu80/torch-0.2.0.post3-cp27-cp27mu-manylinux1_x86_64.whl

